@include media(desktop) {
    .widget-area.footer-widget-area.four .widget-column,
    .services-section-wrapper .section-content-wrapper.layout-four .hentry,
    .archive-content-wrap .section-content-wrapper.layout-four .hentry,
    .team-section .team-content-wrapper.layout-four .hentry,
    .featured-content-section .section-content-wrapper.layout-four .hentry,
    .stats-section .section-content-wrapper.layout-four .hentry,
    #portfolio-section .section-content-wrapper.layout-four .hentry,
    .archive-content-wrap .section-content-wrapper.layout-four .hentry,
    .discography-section .section-content-wrapper.layout-four .hentry,
    .section-content-wrapper.layout-four .hentry  {
        width: 25%;
    }

    #portfolio-section .section-content-wrapper.layout-three .hentry {
        width: 33.33%;
    }

    .products.columns-3 .product {
        width: 31.73%;
    }

    .products.columns-4 .product,
    .products.columns-6 .product {
        width: 23.2%;
    }

    .products.columns-5 .product {
        width: 18.11%;
    }

    .products .product:nth-child(2n+2) {
        margin-right: 2.40%;
    }

    .products.columns-4 .product:nth-child(3n+3) {
        margin-right: 2.40%;
    }

    .sidebar.widget-area section.widget {
        margin-right: 0;
    }

    .sidebar.widget-area section.widget {
        float: none;
        width: 100%;
    }

    .archive-content-wrap .section-content-wrapper.layout-three .hentry:nth-child(3n+1),
    .portfolio-section .section-content-wrapper.layout-three .hentry:nth-child(3n+1),
    .widget-area.footer-widget-area.three .widget-column:nth-child(3n+1),
    .footer-widget-area.two .widget-column:nth-child(3n+1),
    .products.columns-3 .product:nth-child(3n+1),
    .layout-three .product:nth-child(3n+1),
    .services-section-wrapper .section-content-wrapper.layout-three .hentry:nth-child(3n+1),
    .team-section .section-content-wrapper.layout-three .hentry:nth-child(3n+1),
    .featured-content-section .section-content-wrapper.layout-three .hentry:nth-child(3n+1),
    .discography-section .section-content-wrapper.layout-three .hentry:nth-child(3n+1),
    .stats-section .section-content-wrapper.layout-three .hentry:nth-child(3n+1),
    #portfolio-section .section-content-wrapper.layout-three .hentry:nth-child(3n+1),
    .archive-content-wrap .section-content-wrapper.layout-four .hentry:nth-child(4n+1),
    .portfolio-section .section-content-wrapper.layout-four .hentry:nth-child(4n+1),
    .widget-area.footer-widget-area.four .widget-column:nth-child(4n+1),
    .footer-widget-area.two .widget-column:nth-child(4n+1),
    .products.columns-4 .product:nth-child(4n+1),
    .services-section-wrapper .section-content-wrapper.layout-four .hentry:nth-child(4n+1),
    .team-section .section-content-wrapper.layout-four .hentry:nth-child(4n+1),
    .featured-content-section .section-content-wrapper.layout-four .hentry:nth-child(4n+1),
    .stats-section .section-content-wrapper.layout-four .hentry:nth-child(4n+1),
    #portfolio-section .section-content-wrapper.layout-four .hentry:nth-child(4n+1),
    .events-section .section-content-wrapper.layout-four .hentry:nth-child(4n+1) {
        clear: both;
    }

    .products.columns-3 .product:nth-child(3n+3),
    .products.columns-4 .product:nth-child(4n+4),
    .products.columns-5 .product:nth-child(5n+5),
    .products.columns-6 .product:nth-child(4n+4) {
        margin-right: 0;
    }

    .playlist-content-wrapper.content-align-right .entry-container {
        padding-left: 40px;
    }

    .playlist-content-wrapper.content-align-left .entry-container {
        padding-left: 0;
        padding-right: 40px;
    }

    .featured-video-content-wrapper .side-posts-wrap {
        width: 30%;

        .post-thumbnail {
            padding-bottom: 0;
        }
    }

    .featured-video-content-wrapper .hentry.featured {
        float: left;
        margin-bottom: 0;
        width: 70%;

        .post-thumbnail {
            padding-bottom: 0;
        }
    }
}