@include media(mobile_horizontal) {

    .section-content-wrapper.layout-two .hentry,
    .footer-widget-area.four .widget-column,
    .footer-widget-area.two .widget-column,
    .portfolio-section .section-content-wrapper.layout-two .hentry,
    .portfolio-section .section-content-wrapper.layout-four .hentry,
    .portfolio-section .section-content-wrapper.layout-two .hentry,
    .archive-content-wrap .section-content-wrapper.layout-two .hentry,
    .team-section .team-content-wrapper.layout-four .hentry,
    .team-section .team-content-wrapper.layout-two .hentry,
    .sidebar.widget-area section.widget,
    .stats-section .section-content-wrapper.layout-four .hentry,
    .stats-section .section-content-wrapper.layout-two .hentry,
    .featured-content-section .section-content-wrapper.layout-four .hentry,
    .featured-content-section .section-content-wrapper.layout-two .hentry,
    .services-section-wrapper .section-content-wrapper.layout-four .hentry,
    .services-section-wrapper .section-content-wrapper.layout-two .hentry,
    .events-section .section-content-wrapper.layout-two .hentry,
    #portfolio-section .section-content-wrapper.layout-three .hentry,
    #portfolio-section .section-content-wrapper.layout-four .hentry,
    #portfolio-section .section-content-wrapper.layout-two .hentry {
        width: 50%;
    }

    .widget-area.footer-widget-area.three .widget-column,
    .section-content-wrapper.layout-three .hentry,
    .archive-content-wrap .section-content-wrapper.layout-three .hentry,
    .products.columns-3 .product,
    .team-section .team-content-wrapper.layout-three .hentry,
    .services-section-wrapper .section-content-wrapper.layout-three .hentry,
    .featured-content-section .section-content-wrapper.layout-three .hentry,
    .stats-section .section-content-wrapper.layout-three .hentry,
    .events-section .section-content-wrapper.layout-three .hentry,
    .archive-content-wrap .section-content-wrapper.layout-three .hentry {
        width: 33.33%;
    }

    div#customer_details > div,
    .sidebar.widget-area section.widget,
    .woocommerce-columns--addresses > div,
    .products.columns-6 .product,
    .products.columns-5 .product,
    .products.columns-4 .product,
    .products.columns-2 .product,
    .products.columns-3 .product {
        width: 48.8%;
    }

    .sidebar.widget-area section.widget,
    .products .product,
    .related .product,
    div#customer_details > div,
    .woocommerce-columns--addresses > div {
        margin-right: 2.3113%;
    }

    .rtl div#customer_details > div,
    .rtl .woocommerce-columns--addresses > div  {
        margin-right: 0;
        margin-left: 2.3113%;

        &:last-child {
            margin-left: 0;
        }
    }

    .archive-content-wrap .section-content-wrapper.layout-one .hentry,
    .services-section-wrapper .section-content-wrapper.layout-one .hentry,
    .team-section .section-content-wrapper.layout-one .hentry,
    .featured-content-section .section-content-wrapper.layout-one .hentry,
    .discography-section .section-content-wrapper.layout-one .hentry,
    .stats-section .section-content-wrapper.layout-one .hentry,
    .events-section .section-content-wrapper.layout-one .hentry {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .sidebar.widget-area section.widget:nth-child(2n+2),
    .products .product:nth-child(2n+2),
    div#customer_details > div:nth-child(2n+2),
    .woocommerce-columns--addresses > div:nth-child(2n+2)  {
        margin-right: 0;
    }

    .portfolio-section .section-content-wrapper.layout-three .hentry:nth-child(2n+1),
    .portfolio-section .section-content-wrapper.layout-four .hentry:nth-child(2n+2),
    .portfolio-section .section-content-wrapper.layout-two .hentry:nth-child(2n+1),
    .discography-section .section-content-wrapper.layout-two .hentry:nth-child(2n+1),
    .discography-section .section-content-wrapper.layout-four .hentry:nth-child(2n+2),
    .discography-section .section-content-wrapper.layout-three .hentry:nth-child(2n+1),
    .team-section .team-content-wrapper.layout-three .hentry:nth-child(2n+1),
    .team-section .team-content-wrapper.layout-two .hentry:nth-child(2n+1),
    .team-section .team-content-wrapper.layout-two .hentry:nth-child(2n+1),
    .archive-content-wrap .section-content-wrapper.layout-three .hentry:nth-child(2n+1),
    .archive-content-wrap .section-content-wrapper.layout-four .hentry:nth-child(2n+2),
    .archive-content-wrap .section-content-wrapper.layout-two .hentry:nth-child(2n+1),
    .widget-area.footer-widget-area.three .widget-column:nth-child(2n+1),
    .widget-area.footer-widget-area.four .widget-column:nth-child(2n+1),
    .footer-widget-area.two .widget-column:nth-child(2n+1),
    .sidebar.widget-area section.widget:nth-child(2n+1),
    .products.columns-4 .product:nth-child(2n+2),
    .products.columns-3 .product:nth-child(2n+1),
    .products.columns-2 .product:nth-child(2n+1),
    .archive-content-wrap .section-content-wrapper.layout-three .hentry:nth-child(2n+1),
    .services-section-wrapper .section-content-wrapper.layout-two .hentry:nth-child(2n+1),
    .featured-content-section .section-content-wrapper.layout-two .hentry:nth-child(2n+1),
    .stats-section .section-content-wrapper.layout-two .hentry:nth-child(2n+1),
    .stats-section .section-content-wrapper.layout-four .hentry:nth-child(2n+2),
    #portfolio-content-section .section-content-wrapper.layout-three .hentry:nth-child(3n+1),
    #portfolio-content-section .section-content-wrapper.layout-two .hentry:nth-child(2n+1),
    div#customer_details > div:nth-child(2n+1),
    .woocommerce-columns--addresses > div:nth-child(2n+1) {
        clear: both;
    }

    .widget-area.footer-widget-area.three .widget-column:nth-child(3n+3),
    .widget-area.footer-widget-area.four .widget-column:nth-child(3n+3) {
        clear: none;
    }

    .app-section .app-section-image,
    .app-section .content-wrapper {
        width: 50%;
    }

    .app-section .content-wrapper {
        margin-top: 0;
    }

    .app-section.content-align-left .content-wrapper {
        padding-right: 30px;
    }

    .app-section.content-align-right .hentry-inner {
        .content-wrapper {
            padding-left: 30px;

            @include media(wide) {
                padding-left: 53px;
            }

            @include media(diagonal) {
                padding-left: 85px;
            }
        }
    }

    .app-section.content-align-right .hentry-inner {
        flex-direction: row;
    }

    .app-section.content-align-left .hentry-inner {
        flex-direction: row-reverse;
    }

    .content-align-left .playlist-content-wrapper .post-thumbnail-background {
        order: 2;
    }

    .content-align-left .playlist-content-wrapper .entry-container {
        order: 1;
    }

    .playlist-content-wrapper .post-thumbnail {
        margin-bottom: 0;
    }

    .playlist-content-wrapper .post-thumbnail-background {
        margin: 0;
        padding-bottom: 0;
    }

    .playlist-content-wrapper .post-thumbnail-background,
    .playlist-content-wrapper .post-thumbnail {
        width: 50%;
    }

    .playlist-content-wrapper .entry-container {
        width: 50%;
        padding: 0 0 0 30px;
    }

    .playlist-content-wrapper.content-align-left .entry-container {
        padding-left: 0;
        padding-right: 30px;
    }

    .playlist-content-wrapper .wp-playlist .wp-playlist-current-item,
    .playlist-content-wrapper .abletone-mejs-container.mejs-container .mejs-controls {
        padding-left: 16px;
        padding-right: 16px;
    }

    .playlist-content-wrapper .entry-header,
    .playlist-content-wrapper .entry-title {
        margin-top: 0;
    }

    .playlist-content-wrapper .hentry {

        .hentry-inner {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
    }

    .playlist-content-wrapper.content-align-left .hentry {

        .hentry-inner {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: reverse;
                -ms-flex-direction: row-reverse;
                    flex-direction: row-reverse
        }
    }

    .section-content-wrapper.playlist-content-wrapper {
        .post-thumbnail {
            margin-bottom: 0;
        }
    }

    .single-item .featured-video-content-wrapper .hentry {
        width: 100%;
    }

    .featured-video-content-wrapper .excerpt-video-left .hentry-inner {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-align: center;
        -moz-box-align: center;
        position: relative;
        width: 100%;
    }

    .featured-video-content-wrapper .excerpt-video-left .post-thumbnail {
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 30%;
        -moz-box-flex: 0;
        -ms-flex: 0 1 30%;
        flex: 0 1 30%;
        margin: 0;
    }

    .featured-video-content-wrapper .excerpt-video-left .entry-container {
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 70%;
        -moz-box-flex: 0;
        -ms-flex: 0 1 70%;
        flex: 0 1 70%;
        margin: 0;
    }

    .featured-video-content-wrapper .excerpt-video-left .entry-container {
        padding-left: 15px;
    }

    .sidebar.widget-area section.widget {
        float: left;
    }

    .app-section .content-wrapper {
        padding-bottom: 35px;
        padding-top: 35px;
    }

    .gallery-columns-2 .gallery-item {
        max-width: 50%;
    }

    .gallery-columns-3 .gallery-item {
        max-width: 33.33%;
    }

    .gallery-columns-4 .gallery-item {
        max-width: 25%;
    }

    .gallery-columns-5 .gallery-item {
        max-width: 20%;
    }

    .gallery-columns-6 .gallery-item {
        max-width: 16.66%;
    }

    .gallery-columns-7 .gallery-item {
        max-width: 14.28%;
    }

    .gallery-columns-8 .gallery-item {
        max-width: 12.5%;
    }

    .gallery-columns-9 .gallery-item {
        max-width: 11.11%;
    }
}