/* Hero Content and App Section */

.hero-section.section {

    .hentry {
        position: relative;
    }
}

.hero-section.section.full-width-layout {
    .wrapper {
        max-width: 1500px;
    }
}

.hero-section {
    
    .section-title-wrapper > .subtitle,
    .entry-container .subtitle {
        font-weight: 700;
    }
}


#hero-section.hero-section.section {

    @include media(mobile_horizontal) {
        .section-heading-wrapper {
            float: left;
            width: 42.2%;
        }
    }

    .section-heading-wrapper {
        padding: 0 0 35px 0;
        text-align: center;
        @include media(mobile_horizontal) {
            text-align: left;
        }

        + .entry-container {
            padding-bottom: 0;
            padding-top: 0;

            .entry-content,
            .entry-summary {
                margin-top: 0;
            }
        }
    }
}

#hero-section.hero-section.section.content-aligned-left {
    .section-heading-wrapper {
        @include media(mobile_horizontal) {
            float: right;
            padding-right: 0;
        }
    }
} 

#hero-section.hero-section.section .wrapper {

    .section-content-wrap {
        padding-top: 35px;

        @include media(mobile_horizontal) {
            padding-top: 42px;
        }

        .cat-links {
            font-size: 12px;
            text-transform: uppercase;
        }

        .author-avatar {
            margin-right: 0;

            @include media(mobile_horizontal) {
                margin-right: 21px;
            }
        }

        .author-info {
            flex-direction: column;

            @include media(mobile_horizontal) {
                justify-content: unset;
                flex-direction: row;
                text-align: left;
            }

            align-items: center;
            justify-content: center;
            margin-top: 21px;
            text-align: center;

            .author-avatar {
                width: 70px;
            }

            .author-title {
                margin-bottom: 0;

                .author-link {
                    font-size: 1.25rem;
                    font-size: 20px;
                }
            }

            .author-bio {
                font-size: 0.9375rem;
                font-size: 15px;

                @include media(desktop) {
                    font-size: 1.125rem;
                    font-size: 18px;
                }
            }
        }
    }
}

.hero-section.section {

    .wrapper {
        margin-left: auto;
        margin-right: auto;
        max-width: 1142px;
    }

    .section-content-wrap {

        .hentry {

            .featured-content-image {
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                min-height: 400px;
                position: relative;

                @include media(mobile_horizontal) {
                    bottom: 0;
                    height: 100%;
                    left: 0;
                    min-height: 100%;
                    position: absolute;
                    width: 42.227%;
                }
            }

            .entry-container {
                padding-top: 21px;
                width: 100%;

                @include media(mobile_horizontal) {
                    padding-bottom: 36px;
                    padding-left: 60px;
                    padding-top: 36px;
                    width: 57.8%;
                }

                @include media(wide) {
                    padding-bottom: 97px;
                    padding-left: 120px;
                    padding-top: 66px;
                }

                .entry-title {
                    margin-bottom: 0;
                    text-transform: inherit;
                }
            }
        }
    }
}

.hero-section.content-aligned-right {

    .hentry {

        .entry-container {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.hero-section.content-aligned-right {

    .hentry {

        .entry-container {

            @include media(mobile_horizontal) {
                float: right;
            }
        }
    }
}

.app-section .content-wrapper {
    margin-top: 21px;
    width: 100%;

    .post-thumbnail {
        margin-top: 21px;

        @include media(desktop) {
            margin-top: 35px;
        }
    }
}

.app-image-container {

    div {
        margin-top: 7px;
        margin-left: 7px;
        width: 120px;

    
        @include media(desktop) {
            margin-left: 21px;
            margin-top: 0;
        }

        @include media(diagonal) {
            margin-top: 35px;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.app-button-container {
    div {
        margin-right: 7px;

        @include media(desktop) {
            margin-right: 21px;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.app-section .section-content-wrapper .entry-header span {
    font-style: italic;
    display: block;
    line-height: 1.46;
}

.app-section-image {
    background-size: cover;
    background-position: center;
    padding-bottom: 100%;
    width: 100%;

    @include media(mobile_horizontal) {
        padding-bottom: 0;
    }
}

.no-thumb .content-wrapper {
    max-width: 650px;
    width: auto;
    margin: 0 auto;
}

/* Color Scheme */

.color-scheme-blog .site-overlay + .section {
    padding-top: 0;

    .wrapper {
        padding-top: 0;
    }

    .section-content-wrap,
    .section-content-wrapper {
        padding-top: 0;
    }
}

.color-scheme-blog .hero-section.section {
    .section-content-wrap {

        .hentry {
            .featured-content-image {
                @include media(mobile_horizontal) {
                    width: 49.227%;
                }
            }
            .entry-container {

                @include media(mobile_horizontal) {
                    width: 50.8%;
                }
            }
        }
    }
}

.color-scheme-blog,
.color-scheme-wedding,
.color-scheme-minimal {
    #hero-section.hero-section {

        .section-content-wrap {
            padding-top: 0;

            .hentry {
                .entry-container {

                    @include media(desktop) {
                        padding-bottom: 70px;
                        padding-top: 70px;
                    }
                    
                    @include media(wide) {
                        padding-bottom: 100px;
                        padding-top: 100px;
                    }

                    @include media(diagonal) {
                        padding-bottom: 170px;
                        padding-top: 170px;
                    }
                }
            }
        }
    }
}

.app-section .content-wrapper p a {
    display: inline-block;
}

.color-scheme-blog,
.color-scheme-minimal,
.color-scheme-wedding {
    #hero-section.hero-section {
        .section-content-wrap .hentry {
            .section-heading-wrapper + .entry-container {
                padding-bottom: 0;
                padding-top: 0;
            }
        }
    }
}

.hero-section.content-aligned-right.full-width-layout {
    .entry-container {
        @include media(wide) {
            padding-right: 100px;
        }
    }
}

.hero-section.content-aligned-left.full-width-layout {
    .entry-container {
        @include media(wide) {
            padding-left: 100px;
        }
    }
}

.color-scheme-blog .hero-section.content-aligned-right.full-width-layout {
    .entry-container {
        @include media(wide) {
            padding-right: 0;
        }
    }
}

.color-scheme-blog .hero-section.content-aligned-left.full-width-layout {
    .entry-container {
        @include media(wide) {
            padding-left: 0;
        }
    }
}