.team-section {

    .hentry {
        position: relative;
        width: 100%;

        .more-link {
            border: 1px solid;
        }

        .hentry-inner {
            padding: 35px;
            position: relative;
            z-index: 99;

            &:before {
                bottom: 0;
                content: '';
                height: 3px;
                left: 0;
                position: absolute;
                width: 100%;
                z-index: -1;
            }
    
            &:hover {
    
                &:before {
                    height: 100%;
                }
            }

            @include media(diagonal) {
                padding: 42px;
            }

            .menu-social-container {
                margin-top: 20px;
            }

            .post-thumbnail {

                img {
                    @include border(50%);
                    margin: 0 auto;
                }
            }

            .entry-meta {
                font-size: 16px;
                font-size: 1rem;
                margin-top: 7px;

                @include media(tablet) {
                    font-size: 18px;
                    font-size: 1.125rem;
                }
            }
        }

        .more-link {
            border: 1px solid transparent;
            padding: 0;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }
}

.team-section .hentry .more-link:hover {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.team-section.section {
    #menu-social-menu {
        justify-content: center;
    }
}

/**  Color Scheme **/

.color-scheme-modern .team-section.section .hentry .hentry-inner {
    .entry-meta a,
     .entry-title a {
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }
    }
}