.testimonials-content-wrapper.section.testimonial-wrapper.has-background-image {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .section-content-wrap {

        .entry-container {
            text-align: left;
        }
    }

    &:after {
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .section-heading-wrapper {
        position: relative;
        z-index: 2;
    }

    .post-thumbnail {
        align-items: center;
        
        img {
            margin-bottom: 0;
            margin-right:18px;
        }
    }

    .controls {
        bottom: 0;
        display: inline-block;
        left: 15px;
        position: relative;
        right: auto;
        transform: translateX(0);
        -o-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        z-index: 999;
    
        @include media (tablet) {
            bottom: 40%;
            left: auto;
            position: absolute;
            right: 40px;
            @include flex;
         }

        @include media(wide) {
            right: 50px;
        }
    }
}

.testimonials-content-wrapper.section.testimonial-wrapper {
    padding: 42px 0;
    position: relative;

    @include media(desktop) {
        padding-top: 112px;
    }

    .section-heading-wrapper {
        padding-top: 0;
    }

    .wrapper {
        position: relative;
    }

    .hentry {
        @include media(wide) {
            font-size: 24px;
            font-size: 1.5rem;
        }

        @include media(diagonal) {
            font-size: 28px;
            font-size: 1.75rem;
        }
        
        font-weight: 600;
        line-height: 1.46;
        margin: 35px 0;

        @include media(desktop) {
            margin: 71px 0 61px;
        }

        @include media(wide) {
            margin: 110px 0 113px;
        }

        @include media(diagonal) {
            margin: 167px 0 188px;
        }

        .entry-meta {
            margin: 0;
        }
    }

    .cycle-prev {

        &:before {
            content: "Prev";
            cursor: pointer;
        }

        &:after {
            content: "/";
            font-size: 18px;
            margin: 0 6px;
        }
    } 

    .cycle-pager {
        counter-reset: slides-num;
        right: 30px;
        position: absolute;
        top:0;
        z-index: 99;

        @include media (tablet) {
            right: 40px;
         }

         @include media(wide) {
             right: 50px;
         }

        &:after {
            content: counter(slides-num);
            display: inline-block;
            font-size: 24px;
            line-height: 1;
            padding-right: 10px;
            vertical-align: top;

            @include media(mobile_horizontal) {
                line-height: 1.56;
            }
        }

        &:before {
            content: "";
            height: 45px;
            position: absolute;
            left: 50%;
            top: -6px;
            transform: translateX(-50%);
            -o-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            width: 2px;

            @include media(mobile_horizontal) {
                height: 48px;
                top: 10px;
            }
        }

        span {
            counter-increment: slides-num;
            display: inline-block;
            font-weight: 600;
            font-size: 0;
            line-height: 1;
            vertical-align: bottom;

            @include media(mobile_horizontal) {
                vertical-align: top;
            }
        }
    }
}

.testimonials-content-wrapper.section.testimonial-wrapper.style-two .hentry {
    margin-bottom: 50px;

    @include media(desktop) {
        margin-bottom: 110px;
    }
}

.testimonials-content-wrapper .cycle-pager .cycle-pager-active {
    display: inline-block;
    margin-right: 20px;
}

.testimonials-content-wrapper .cycle-pager .cycle-pager-active:before {
    content: counter(slides-num);
    display: inline-block;
    font-size: 36px;
    font-size: 2.25rem;
    vertical-align: middle;

    @include media(mobile_horizontal) {
        font-size: 48px;
        font-size: 3rem;
    }
}

.testimonials-content-wrapper .cycle-next:before {
    content:"Next";
    cursor: pointer;
}

.testimonials-content-wrapper .testimonial-slider-wrap {

    .post-thumbnail {
        margin-top: 28px;

        @include media(mobile_horizontal) {
            margin-top: 35px;
        }

        .entry-header {
            font-weight: 400;
            line-height: 1.17;
            margin-bottom: 0;

            .entry-title {      
                font-size: 18px;
                font-size: 1.125rem;
                font-weight: 700;
            }
        }
        
        img {
            height: 71px;
            object-fit: cover;
            margin-right: 15px;
            width: 71px;
            @include border(50%);
        }
    }
}

.testimonials-content-wrapper.section.has-background-image.style-one {
    
    .section-content-wrap {
        margin-left: 0;
        margin-right: auto;
    }
}

.testimonials-content-wrapper.section {

    .section-content-wrap {
        max-width: 560px;
        margin: 0 auto;

        @include media(desktop) {
            max-width: 770px;
        }

        .testimonial-slider-wrap.cycle-slide {
            text-align: center;
            width: 100%;            
        }

        .post-thumbnail {
            display: block;

            img {
                margin: 0 auto;
                margin-bottom: 15px;
            }
        }

        .controls {
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            -o-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            position: relative;
            @include flex;
            z-index: 9999;
             
            @include media(desktop) {
                bottom: 40px;
            }
        }
    }
}

.testimonials-content-wrapper.section.has-background-image.style-two {

    .section-content-wrap {
        .controls {
            left: 50%;
            transform: translateX(-50%);
            -o-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            position: relative;
            @include flex;
            z-index: 9999;
        }
    }
}

.testimonials-content-wrapper.section.has-background-image .section-content-wrap .testimonial-slider-wrap.cycle-slide {
    text-align: left;
}

/** Color scheme **/

.section.testimonials-content-wrapper.style-two {
    .section-content-wrap {

    .controls {
        bottom: 20px;

        @include media(wide) {
            bottom: 80px;
        }
    }
        
        .hentry {
            margin-top: 0;

            .entry-content,
            .entry-summary {
                margin-top: 0;
                font-style: italic;
                padding: 35px;
                position: relative;

                @include media(desktop) {
                    padding: 60px;
                }

                @include media(diagonal) {
                    padding: 68px 70px 86px;
                }    

                &:after {
                    border: 10px solid;
                    height: 0px;
                    left: 50%;
                    position: absolute;
                    top: 100%;
                    transform: translateX(-50%);
                    width: 0px;
                }
            }
            .post-thumbnail {
                 -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                justify-content: center;

                img {
                    margin-right: 14px;
                }
            }
        }
    }
}


[class*="color-scheme-"] .section.testimonials-content-wrapper.style-two.has-background-image {
    .section-content-wrap {

        .hentry {
            .entry-content,
            .entry-summary {
                padding-bottom: 0;
                padding-left: 15px;
                padding-right: 15px;
                text-align: center;
            }
        }
    }
}

.color-scheme-default #testimonials-section.testimonials-content-wrapper.has-background-image.style-two .entry-content,
.color-scheme-default #testimonials-section.testimonials-content-wrapper.has-background-image.style-two .entry-summary {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

        &:after {
            border: none;
        }
}

#testimonials-section.section.testimonials-content-wrapper .section-content-wrap .hentry  .entry-container .entry-content:after,
#testimonials-section.section.testimonials-content-wrapper .section-content-wrap .hentry  .entry-container .entry-summary:after,
.color-scheme-default #testimonials-section.section.testimonials-content-wrapper.style-two .section-content-wrap .hentry .entry-summary:after,
.color-scheme-default #testimonials-section.section.testimonials-content-wrapper.style-two .section-content-wrap .hentry .entry-content:after,
body[class*="color-scheme-"] #testimonials-section.section.testimonials-content-wrapper.style-two .section-content-wrap .hentry .entry-container .entry-content:after {
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}

.color-scheme-corporate .testimonials-content-wrapper:after {
    mix-blend-mode: multiply;
}

.testimonials-content-wrapper.style-one.has-background-image .section-heading-wrapper {
    @include media(mobile_horizontal) {
        text-align: left;
    }
}

.testimonials-content-wrapper.style-two .section-heading-wrapper,
.testimonials-content-wrapper.style-one .section-heading-wrapper {
    text-align: center;
}

.testimonials-content-wrapper.section.testimonial-wrapper .cycle-prev:hover:before,
.testimonials-content-wrapper.section.testimonial-wrapper .cycle-prev:focus:before,
.testimonials-content-wrapper.section.testimonial-wrapper .cycle-next:hover:before,
.testimonials-content-wrapper.section.testimonial-wrapper .cycle-next:focus:before {
    opacity: 0.6;
}